
# Vivado / xsim artifacts
*.jou
*.log
*.pb
*.wdb
*.dbg
*.mem
*.rtti
*.xdbg
*.sdb
*.rlx

build/
xsim.dir/

todo.md

__pycache__/
*.pyc

software/data/
software/preprocesses/mnist_raw/

software/model/weights/

*.npy
*.bin
